@import "tailwindcss";
@import "./styles/wordpress-blocks.css";

:root {
  --font-base:
    Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Noto Sans JP, Microsoft YaHei, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

@theme {
  --font-base: var(--font-base);
}

@layer base {
  body {
    @apply bg-[#ebf6ff] text-gray-900/90 bg-linear-to-b from-[#f6f8fa] to-[#edf5fd] bg-fixed font-base;
  }
}
